# SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
# SPDX-License-Identifier: CC0-1.0

*~
*.zip
*.blend1
*.blend2
*.blend3
/locale
/schemas/gschemas.compiled
/resources/burn-my-windows.gresource
/resources/burn-my-windows.gresource.xml
kwin/_build
kwin/*.tar.gz
.VSCodeCounter/2024-12-01_14-24-39/results.txt
.VSCodeCounter/2024-12-01_14-24-39/results.md
.VSCodeCounter/2024-12-01_14-24-39/results.json
.VSCodeCounter/2024-12-01_14-24-39/results.csv
.VSCodeCounter/2024-12-01_14-24-39/diff.txt
.VSCodeCounter/2024-12-01_14-24-39/diff.md
.VSCodeCounter/2024-12-01_14-24-39/diff.csv
.VSCodeCounter/2024-12-01_14-24-39/diff-details.md
.VSCodeCounter/2024-12-01_14-24-39/details.md
.VSCodeCounter/2024-12-01_14-22-46/results.txt
.VSCodeCounter/2024-12-01_14-22-46/results.md
.VSCodeCounter/2024-12-01_14-22-46/results.json
.VSCodeCounter/2024-12-01_14-22-46/results.csv
.VSCodeCounter/2024-12-01_14-22-46/diff.txt
.VSCodeCounter/2024-12-01_14-22-46/diff.md
.VSCodeCounter/2024-12-01_14-22-46/diff.csv
.VSCodeCounter/2024-12-01_14-22-46/diff-details.md
.VSCodeCounter/2024-12-01_14-22-46/details.md
